{% extends 'base.html.twig' %}

{% block homeTitle %}{{homeTitle}}{% endblock %}

{% block body %}

{% for ride in rides %}
    <div>
        <h3>{{ ride.departure }}</h3>
        <p>{{ ride.destination}}</p>
        <!-- Ajoutez ici d'autres propriétés de l'objet Offer que vous souhaitez afficher -->
        <a href="{{ path('app_homepage', { 'id': ride.id }) }}">Réserver une place</a>
    </div>
{% endfor %}


{% endblock %}
