* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 72px;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icon {
    background-image: url(/assets/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 274px;
    height: 50px;
}

.iconLoupe {
    background-image: url(/assets/images/loupe.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
}

.iconButton {
display: flex;
margin-left: 20px;
}

.unregisteredUser {
    display: flex;
    margin-right: 20px;
}

.iconUnregisteredUser {
    background-image: url(/assets/images/unregisteredUser.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.navbarFixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.searchButton {
    display: flex;
    align-items: center;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    height: 50px;
    border: none;
    padding-right: 10px;
}

.search-bar {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 220px;
}
    

.search-input {
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
    background-color: #EFEFEF;
    font-size: 21px;
    padding-left: 10px;
}

.ridesContainer {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
    margin: 72px 20px 20px 20px;
    border-radius: 15px;
    overflow-x: auto;
    white-space: nowrap;
    position: fixed;
    top: 0; // Ajustez selon vos besoins
    left: 0; // Ajustez selon vos besoins
    height: calc(100% - 92px); // Ajuster en fonction de vos besoins
    

}

.card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 8px;
}

.card span {
    margin-right: 5px;
}

.card a {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #0056b3;
}